<%= render 'home/header' %>

<!-- Formulaire pour les nouveaux Gossips -->
<%= form_for @gossip, url: {action: "create"}, html: {class: "gossip"} do |f| %>
  <p><strong>Pseudo</strong><br /><%= f.text_field :pseudo %></p>
  <p><strong>Gossip</strong><br /><%= f.text_area :content, size: "70x10" %></p>
  <p><strong><%= f.submit "Nouveau Gossip" %></strong></p>
<% end %>

<p><%= link_to 'Annuler', root_path %></p>
