<h1>Gossip Girl v2</h1>
<h3>Hey bro ! Connecte-toi ou inscris-toi !</h3>
<br />
<br />
<ul>
  <% if user_signed_in? %>
    <li><h3><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></h3></li>
    <li><h3><%= current_user.email %></h3></li>
    <li><h3><%= link_to 'Modifier le compte', edit_user_registration_path %></h3></li>
    <br />
  <% else %>
  <li><h3><%= link_to 'Se connecter', new_user_session_path %></h3></li>
  <li><h3><%= link_to 'S\'inscrire', new_user_registration_path %></h3></li>

  <% end %>
</ul>
